<div  ng-cloak id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
        <div class="content animated bounceInUp" id="page-wrapper">
		    <div id="page-inner">
		    	<div class="row fade-in one">
		            <div class="col-md-12 goal-heading">
		    			<p>Frequently asked questions</p>
		    		</div>
		    	</div>
		    	<hr>

		    	<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 formelemep">
                        <div class="checkbox1 checkbox-primary1 sub-heading">
                            <p>1. What is Performance Accelrator</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 formelemep">
                        <div class="faq">
                            <p>Performance Accelerator™ is a cloud2based leadership development and
performance management system that drives individual change and
achieves strategic organizational alignment.</p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 formelemep">
                        <div class="checkbox1 checkbox-primary1 sub-heading">
                            <p>2. Purpose of Performace Accelerator</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 formelemep">
                        <div class="faq">
                            <p>The Performance Accelerator ™ tool “appiefies” a ground2breaking
method for connecting behavior with personal growth and development
goals, performance goals and organizational goals to align and accelerate
performance for individuals, teams and organizations.</p>
                        </div>
                    </div>
                </div>
                <hr>

		    </div>
		</div>
	</div>
</div>