<div  ng-cloak id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
        <div class="content animated bounceInUp" id="page-wrapper">
		    <div id="page-inner">
		    	<div class="row fade-in one">
		            <div class="col-md-12 goal-heading">
		    			<p>Help</p>
		    		</div>
		    	</div>
		    	<hr>

		    	<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 formelemep">
                        <div class="checkbox1 checkbox-primary1">
                            <p>Performance Accelerator™ is a cloud2based leadership development and
performance management system that drives individual change and
achieves strategic organizational alignment.
The Performance Accelerator ™ tool “appiefies” a ground2breaking
method for connecting behavior with personal growth and development
goals, performance goals and organizational goals to align and accelerate
performance for individuals, teams and organizations.
PA is proven and proprietary process that has been proven over 5 years
with corporate leaders, high potentials and business owners. PA is a
methodology and framework incorporating several modalities (innovation
design, mindfulness, behavioral science and business strategy).</p>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
	</div>
</div>