<div>
    <div id="ohsnap">
        <!-- <div class="alert alert-red" style="display: block;">Please create a program first !!</div> -->
    </div>
</div>
<div id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
    <div class="content" id="page-wrapper">
        <div id="page-inner">
            <div class="row fade-in three">
                <div class="col-md-12 goal-heading">
                    <p>Welcome to home page</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
        		{
                    format: 'YYYY-MM-DD'
              }).on("dp.hide",function(e){
            	  showEntryData();
              })
    });
</script>


