<div id="wrapper">
    <div ng-include="'partials/sidebar-template.html'"></div>
        <div class="content animated bounceInUp" id="page-wrapper">
            <div id="page-inner">
            	<div class="row">
                    <div class="col-md-12 goal-heading">
            			<p>Reports</p>
            		</div>
            	</div>
            	<hr>
            	<div class="row">
                    <div class="col-md-12 page-title">
                    	<multiline></multiline>
            			<svg id="visualisation" width="1000" height="500"></svg>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>