
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: font-size 300ms;
    transition: font-size 300ms;
}

.set-padd {
  padding:0px 10px;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    /*min-height: 600px;*/
    background:#F3F3F3;

}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:550px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES
    =============================================*/
.panel-back {
    background-color:#F8F8F8;
    border:1px solid #ddd;

}

.noti-box {
min-height: 100px;
padding: 20px;
}

.progress-box {
min-height: 68px;
padding: 15px 20px 5px 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
.text-box p{
    margin: -6px 0 3px;
}
.main-text {
    font-size: 20px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES
    =============================================*/


.user-image {
    margin: 25px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height:170px;
/*max-width:170px;*/
}

.navbar-cls-top .navbar-brand {
	color: #fff;
  /*background: #C90000;*/
  /*width: 260px;*/
  text-align: center;
  height: 70px;
  font-size: 25px;
  font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;

}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;

}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;

}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;

}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

.displaynot {
    display:none;
  }
/*==============================================
    MEDIA QUERIES
    =============================================*/
@media(max-width:69px) {
  .displaynot {
    display:none;
  }
}

 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 88px;
        padding: 15px 30px;
        min-height: 550px;

    }
    .page-wrappercls{
        margin: 0 0 0 260px !important;
        padding: 15px 30px !important;
        /*min-height: 1200px;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

    }
    .page-wrapperorg{
        margin: 0 0 0 88px !important;
        padding: 15px 30px !important;
        /*min-height: 1200px;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 88px;
    }
    .navbar-side-coll {
        z-index: 1;
        position: absolute;
        width: 260px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .navbar-side-collorg {
        z-index: 1;
        position: absolute;
        width: 88px;
        text-align: center;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

   .navbar {
 border-radius: 0px;
}

}

/*
    evening review
*/

.textboxea{
    background-size: 29px 25px;*/
    padding-left: 40px;
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    /*padding:10px;*/
    margin-bottom:30px;
}
.input-paddingea {
    padding-top: 0px;
}
/*
    morning preview css
*/

.page-title {
    text-align: center;
}

.page-title h1{
    font-weight: bolder;
}

.page-title h2{
    font-weight: bolder;
    color:#333;
}

.sub-heading p {
    font-weight: bolder;
    color:#333;
    font-size: 20px;
}

.para h3 {
    color:#333;
}

.para-option {
    color:#333;
    padding-left: 60px;
}

.tick-icon {
    padding-top: 15px;
}
.fa-envelope-tick:before {
    content: "\f00c";
    color:#428bca;
    font-size: 30px;
}
.fa-envelope-cancel:before {
    content: "\f00d";
}
.input-padding {
    padding-top: 20px;
}

/*
    home page
*/

.show-cursor {
  cursor:pointer;
}
.remove-margin {
  margin-bottom: 0px;
}

.remove-padding {
  margin-top: 0px;
}

.panel-home {
    /* margin-bottom: 20px; */
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel1 {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.goal-heading p {
    font-weight: bolder;
    color:#333;
    text-align: center;
    font-size: 25px;
}


.noti-box .icon-box1 {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    color: #DB0630;
}


/*
  build pa
*/

.fa-goal:before {
    content: "\f140";
}

.fa-dailystm:before {
    content: "\f0ae";
}

.fa-skill:before {
    content: "\f209";
}

.fa-factor:before {
    content: "\f1ae";
}

.fa-staron:before {
    content: "\f005";
}
.fa-staroff:before {
    content: "\f006";
}

.setpaddright{
  padding-right: 0px;
}

.info-p p{
  font-size: 16px !important;
}

.starclr i{
  color:#FDD947;
}
/*
    setting
*/

.panel-set {
    /*margin-bottom: 20px;*/
    border: 1px solid #ddd;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-set p {
    color:#333 ;
    font-size: 25px;
}

.noti-box-set {
    min-height: 70px;
    padding: 0px 30px;
    padding-bottom: 10px;
}
.badge-set {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    background-color: #C90000 ;
    border-radius: 14px;
}

.fa-profile:before {
    content: "\f007";
}
.fa-invite:before {
    content: "\f06b";
}
.fa-manage:before {
    content: "\f0c0";
}
.fa-accept:before {
    content: "\f01c";
}
.fa-phone:before {
    content: "\f095";
}
.fa-mail:before {
    content: "\f0e0";
}
.fa-up:before {
    content: "\f077";
}
.fa-down:before {
    content: "\f078";
}
.noti-set {
    padding-top: 15px;
}
.noti-set .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.hover-effect {
    cursor: pointer;
}

.noti-box-set:hover {
    border-color: #2B85E7;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(1,67,163,.24),0 0 8px rgba(1,67,163,.12),0 6px 18px rgba(43,133,231,.12);
    /*transform: translate3d(0,-2px,0);*/
}
/*.noti-box-set:visited {
    border:none;
}*/
.panel-option {
    background-color: #fff;
}
.font-bold h4{
    font-weight: bold;
}

.image-border {
    background-color: #333;
}

.user-image1 {
    /*margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
    border-radius: 10px;
    max-height:60px;
    /*max-width:170px;*/
}

.padding-set {
    padding-top: 8px;
}

.icon-image {
    font-size: 25px;
}

.set-back-color {
    padding-bottom: 8px;
    background-color: rgb(243, 243, 243);
    border: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
}
.option-pad h3 {
    padding-left: 20px;
}

.set-hover:hover {
    border-color: #2B85E7;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(1,67,163,.24),0 0 8px rgba(1,67,163,.12),0 6px 18px rgba(43,133,231,.12);
    transform: translate3d(0,-2px,0);
}

/*
    login form
*/

.textbox-error {
  border: 1px solid red !important;
  padding-left: 40px;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0,0,0,.3) 2px solid;
  box-sizing: border-box;
  /* padding: 10px; */
  margin-bottom: 30px;
}
.error-noti {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  padding: 0px 5px 10px 5px;
  color: #EF3B3A;
}

.pointer-set {
    cursor: pointer;
}

.notification-login {
    min-height: 50px;
    padding: 10px;
    background-color: #DE9;
    margin-bottom: 10px;
    border: 1px solid #ddd
}

.modal-open .modal {
    background: #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 0px;
  /*padding: 30px;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form .thumbnail {
  background: #EF3B3A;
  width: 120px;
  height: 120px;
  margin: 0 auto 5px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #EF3B3A;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/*
    input fields
*/

.textbox {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
}

.formelem{
    padding: 0px 150px;
  /*float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;*/
}

.textbox{
    /*background-repeat: no-repeat;
    background-image: url('../../assets/img/email.png');
    background-position: 6px;
    background-size: 29px 25px;*/
    padding-left: 40px;
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    /*padding:10px;*/
    margin-bottom:30px;
}
#email-label {
    position: relative;
}
#email-label:before {
    color: #666;
    content:"\f0e0";
    font-family: FontAwesome;
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 23px;
}

#add-label {
    position: relative;
}
#add-label:before {
    color: #666;
    content:"\f055";
    font-family: FontAwesome;
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 23px;
}
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}

.option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
}
.custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}

.fade-load {
    opacity: 1 ;
    top: 0 ;
}
.fade {
    opacity: 0;
    position: relative;
    top: -10px;
    -webkit-transition: opacity 600ms,top 600ms;
    transition: opacity 600ms,top 600ms;
}

.fa-envelope:before {
    content: "\f0e0";
}

.set-height {
    height:50px;
}

.set-width {
    width:180px;
}
.set-marginleft {
    margin-left: 100px;
}
/*.checkbox{
  display:table;
}
.checkbox2{
  display:table-cell;
}*/

/*
  animation
*/

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Float Shadow */
.hvr-float-shadow {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in.two {
-webkit-animation-delay: 1s;
-moz-animation-delay:1s;
animation-delay: 1s;
}

.fade-in.three {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.fade-in.four {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.fade-in.five {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.fade-in.six {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}

.fade-in.seven {
-webkit-animation-delay: 3.5s;
-moz-animation-delay: 3.5s;
animation-delay: 3.5s;
}

.fade-in1 {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}

.fade-in.one1 {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.fade-in.two1 {
-webkit-animation-delay: 0.2s;
-moz-animation-delay:0.2s;
animation-delay: 0.2s;
}

.fade-in.three1 {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}

.fade-in.four1 {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}
@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(30px);
    }
    80% {
        -moz-transform: translateX(-10px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(30px);
    }
    80% {
        -o-transform: translateX(-10px);
    }
    100% {
        -o-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.animated.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(30px);
    }
    80% {
        -moz-transform: translateY(-10px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateY(30px);
    }
    80% {
        -o-transform: translateY(-10px);
    }
    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animated.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
    }
    80% {
        -webkit-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(-30px);
    }
    80% {
        -moz-transform: translateY(10px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateY(-30px);
    }
    80% {
        -o-transform: translateY(10px);
    }
    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animated.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    80% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-30px);
    }
    80% {
        -moz-transform: translateX(10px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(-30px);
    }
    80% {
        -o-transform: translateX(10px);
    }
    100% {
        -o-transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.animated.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

#opt1          { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
#opt2         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#opt3          { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#opt4         { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

/*
login page
*/

.modal-header1 {
  /*min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;*/
  padding: 10px 10px 0px 0px;
}
.modal-header1 .close {
  margin-top: -2px;
}

/*
  setting page
*/

.align-c {
  text-align: center;
}
.textbox-set {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    padding-left: 40px;
}

.bg-color-black {
    background-color: #202020;
    color: #fff;
}

.set-gap {
  display: block;
  margin-bottom: 8px;
}

/*
    sidebar
*/
.logout-panel{
  color: white;
  padding: 15px 50px 5px 0px;
  float: right;font-size: 16px;
}
#sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    /*left: 250px;*/
    /*width: 0;*/
    height: 100%;
    /*margin-left: -250px;*/
    /*overflow-y: auto;*/
    /*background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.formelemep{
    padding: 0px 50px;
  /*float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;*/
}
/*
    media query
*/




@media (min-width: 1230px)
#page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 30px;
    /* min-height: 1200px; */
}

/*
    Navbar top
*/

.fa-notioff:before {
    content: "\f0a2";
}

.fa-notion:before {
    content: "\f0f3";
}

.fa-close:before {
    content: "\f00d";
}

.noti-icon {
  /*padding-right: 10px;*/
  padding: 1px 0px;
  /*margin-right: 30px;*/
  font-size: medium;
  cursor:pointer;
}

.noti-icon:hover {
    color: darkgray;
}
.notif-box {
    position: absolute;
    padding: 10px;
    z-index: 3;
    width: 340px;
    right: 90px;
    margin-top: 15px;
    margin-left: 22px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: #fff;
}

.notif-box:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    pointer-events: none;
}
.notif-header {
    padding: 8px 2px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.notif-empty {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.close-icon{
    right: 13px;
    position: absolute;
    font-size: large;
    cursor:pointer;
  }

  .noti-opt {
    cursor:pointer;
    font-size: medium;
    vertical-align: -webkit-baseline-middle;
    min-height: 50px;
    margin: 5px 0px;
    /*background-color: beige;*/
    padding: 15px 10px;
  }

.noti-pos {
  position: absolute;
  left:75%;
}
  .noti-opt:nth-child(even) {
      background-color: #eeeeee;
  }
  .noti-opt:nth-child(odd) {
      background-color: beige;
  }

.badge-area {
  left: 77%;
  position: absolute;
}

  .badge-setnoti {
    display: inline-block;
    min-width: 15px;

    font-size: 14px;
    /* font-weight: bold; */
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #C90000;
    border-radius: 20px;

  }


  /*
      media query
  */

  @media screen and (min-width:200px) {
    .navbar-brand{
      padding: 22px 11px;
    }
  }

    @media screen and (max-width:700px) {
    .navbar-brand{
      width:80%;
      padding: 10px 6px;
    }
  }

   @media screen and (max-width:700px) {
    .formelemep {
        padding: 0px 20px;
    }
  }

@media screen and (max-width:1000px) {
    .noti-pos {
      position: absolute;
      left:68%;
    }
    .input-padding1 {
      padding-left: 60px;
    }
    .textboxea {
      margin-bottom: 0px;
    }
  }

@media screen and (max-width:950px) {
    .noti-pos {
      position: absolute;
      left:60%;
    }
    .formelem {
        padding: 0px 40px;
    }
  }

  @media screen and (max-width:800px) {
    .noti-pos {
      position: absolute;
      left:45%;
    }
  }
  @media screen and (max-width:700px) {
    .noti-pos {
      position: absolute;
      left:20px;
    }
    .logout-panel{
      color: white;
      padding: 15px 15px 5px 0px;
      float: right;font-size: 16px;
    }
  }
  @media screen and (max-width:400px) {
    .noti-pos {
      position: absolute;
      left:20px;
    }
    .para-option {
    color: #333;
    padding-left: 15px;
    }
    .input-padding1 {
    padding-left: 15px;
    }
  }

    @media screen and (max-width:500px) {
    .formelem {
        padding: 0px 14px;
    }
    .padding-set {
        padding-top: 8px;
        padding-left: 0px;
        padding-right: 0px;
      }
  }