@CHARSET "ISO-8859-1";

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

#intro h1 {
    width: 60%;
    font-size: 23px;
    margin: 21px auto;
    /*color: #252B34;*/
    font-weight: normal;
    /*text-shadow: white 2px 2px 1px;*/
    max-width: 580px;
}

#intro {
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid;
}

.margin-set {
  margin:20px 10px;
}