﻿<!DOCTYPE html>
<html ng-app="performAccel">
<head>
<meta charset="UTF-8">
<meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>European Central Bank</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Notification STYLES-->
    <link href="assets/css/notification.css"  rel="stylesheet" type="text/css"/>
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="assets/icofont/css/icofont.css"  rel="stylesheet" type="text/css"/>
    <link href="assets/icofont 2/css/icofont.css"  rel="stylesheet" type="text/css"/>
</head>
<body  ng-controller="indexCtrl">
    <div id="ohsnap">            
    </div>

<nav ng-cloak class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand fade-in one" href="index.html"><span >European Central Bank</span><sup>TM</sup></a>
    </div>
    <div class="logout-panel">
        <span>
            <span class="fade-in two">Welcome {{userName}} !  </span>&nbsp;
            <span ng-hide="true" class="header-icon fade-in three" ng-click="openFaqPage()" >
                <i class="fa fa-question-circle" title="Frequently asked qustions"></i>
            </span>
            <span class="header-icon fade-in three" ng-click="openHelpPage()" title="Help">
                <i class="fa fa-exclamation-circle"></i>
            </span>
            <a href="#/login" class="btn btn-danger square-btn-adjust fade-in four" ng-click="logout()" data-toggle="modal" data-target="#myModal">Logout</a>
        </span>
    </div>
</nav>


        <nav ng-cloak class="navbar-default navbar-side " role="navigation" ng-mouseover="expandSidebar()" ng-mouseleave="collapseSidebarLeave()" id="navbar-coll">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center fade-in two displaynot" id="checkdisplay">
                        <img src="assets/img/find_user.png" class="user-image img-responsive"/>
                    </li>
                    <li  id="opt2" ng-click="collapseSidebarLeave()" >
                        <a class="active-menu" href="#/home" id="optAdmin"><i class="fa fa-dashboard fa-3x"></i></i>Dashboard</a>
                    </li>
                    <li class="" id="opt3" ng-click="collapseSidebarLeave()" >
                        <a href="#/account" id="opt360"><i class="fa fa-spinner fa-3x"></i>My Account</a>
                    </li>

                    <li class="" id="opt3" ng-click="collapseSidebarLeave()" >
                        <a class="#/settings" href="#/settings" id="optSettings"><i class="fa fa-desktop fa-3x"></i> Settings</a>
                    </li>
                </ul>
            </div>

        </nav>

    <div ng-view></div>

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/moment.js"></script>
    <script src="assets/js/datetimepicker.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/controllers/indexCtrl.js"></script>

    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/faqController.js"></script>
    <script src="js/controllers/helpController.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <script src="assets/js/notification.js"></script>
</body>
</html>
